@model List<Ctulhu.Models.Users>

<div class="container">
    <h1 class="admin-panel">Панель администратора</h1>

    @foreach (var user in Model)
    {
        <div class="user-card">
            <div class="user-info">@user.ID</div>
            <div class="user-info">@user.Login</div>
            <div class="user-info">@user.Email</div>
            <div class="user-info">@user.Role</div>
            <div class="user-actions">
                <a asp-action="EditUser" asp-route-id="@user.ID" class="btn orange"></a>
                <button class="btn red"></button>
            </div>
        </div>
    }
</div>
