<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="@Url.Content("~/css/style.css")" rel="stylesheet" />

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />

    <title>Ctulhu</title>
</head>
<body>
    <header>
        <a href="@Url.Action("Index", "Home")"><img src="@Url.Content("~/img/icon.png")" class="logo"></a>
        <nav class="navigation">
            <ul>
                <li><a href="@Url.Action("Index", "Home")">Домой</a></li>
                <li>
                    <a href="#">Рецепты</a>
                    <ul>
                        <li><a href="#">Настойки</a></li>
                        <li><a href="#">Зелья</a></li>
                        <li><a href="#">Лекарства</a></li>
                    </ul>
                </li>
                <li><a href="#">Полезные статьи</a></li>
                <li><a href="#">Блог</a></li>
                <li><a href="@Url.Action("Contact", "Home")">Контакты</a></li>
                <li><a href="@Url.Action("About", "Home")">О нас</a></li>
            </ul>
        </nav>
        <a href="@Url.Action("Registration", "Login")"><img src="@Url.Content("~/img/profile.png")" class="profile"></a>
    </header>

    <main>
        @RenderBody()
    </main>


    <footer>
        <div>
            <h1 style="margin-right: 20px;">Разработано в рамках учебного проекта</h1>
            <h2>Андрей Воркунов 107в2</h2>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>