@model Ctulhu.Models.UserProfile

<div class="user-profile-container">
    <h1>Профиль пользователя</h1>
    <div style="display: flex; justify-content: space-between;">
        <form asp-action="Profile" method="post" class="user-profile-form">
            <div class="profile-form-group">
                <label asp-for="Login">Логин</label>
                <input asp-for="Login" readonly class="profile-form-control" />
                <span asp-validation-for="Login" class="text-danger"></span>
            </div>
            <div class="profile-form-group">
                <label asp-for="Email">E-mail</label>
                <input asp-for="Email" class="profile-form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="profile-form-group">
                <label asp-for="OldPassword">Старый пароль</label>
                <input asp-for="OldPassword" type="password" class="profile-form-control" />
                <span asp-validation-for="OldPassword" class="text-danger"></span>
            </div>
            <div class="profile-form-group">
                <label asp-for="Password">Новый пароль</label>
                <input asp-for="Password" type="password" class="profile-form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="profile-form-group">
                <label asp-for="ConfirmPassword">Подтвердите новый пароль</label>
                <input asp-for="ConfirmPassword" type="password" class="profile-form-control" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
            <button type="submit" class="save-btn">Сохранить изменения</button>
        </form>

        <div>
            <h3>Количество постов: @Model.Posts.Count</h3>
            <h3>Количество комментариев: @Model.Comments.Count</h3>
        </div>
    </div>
    <form asp-action="Logout" method="post" class="logout-form">
        <button type="submit" class="logout-btn">Выйти</button>
    </form>

    @if (User.IsInRole("admin"))
    {
        <form action="@Url.Action("Admin", "Admin")" method="get" class="admin-panel-form">
            <button type="submit" class="admin-btn">Перейти в панель администратора</button>
        </form>
    }

    <h2>Мои посты</h2>
    <div class="user-posts-container">
        @foreach (var post in Model.Posts)
        {
            <div class="user-post">
                <a asp-action="Post" asp-controller="Home" asp-route-id="@post.ID" style="text-decoration: none; color: black;">
                    <h3>@post.Title</h3>
                </a>
                <p>@(post.Description.Length > 150 ? post.Description.Substring(0, 150) + "..." : post.Description)</p>
                <small>Создан: @post.CreatedAt</small>
                <small>Тег: @post.Tag</small>
                <small>Автор: @post.Author</small>
            </div>
        }
        @if (!Model.Posts.Any())
        {
            <p>Посты не найдены</p>
        }
    </div>
</div>
