@using Ctulhu.Models
@model UserPosts

<div style="display: inline-block;">
    <section class="post">
        <h1>Hello world</h1>
        <img src="img/b3.jpg" width="300px">
    </section>

    <section class="post">
        <h2>ererge</h2>
        <h2>ererge</h2>
        <h2>ererge</h2>
        <h2>ererge</h2>
        <h2>ererge</h2>
        <h2>ererge</h2>
        <h2>ererge</h2>
    </section>

    @foreach (var user in Model.Users)
    {
        <section class="post">
            <h1>@user.ID</h1>
            <h1>@user.Login</h1>
            <h1>@user.Email</h1>
            <h1>@user.Password</h1>
            <h1>@user.Role</h1>
        </section>
    }

    <h2>Посты</h2>
    @foreach (var post in Model.Posts)
    {
        <section class="post">
            <h2>@post.Title</h2>
            <p>@post.Description</p>
            <small>Автор: @post.Author</small>

            @if (User.IsInRole("admin"))
            {
                <form asp-action="EditPost" method="post">
                    <input type="hidden" name="id" value="@post.ID" />
                    <div>
                        <label for="title">Заголовок</label>
                        <input type="text" id="title" name="title" value="@post.Title" />
                    </div>
                    <div>
                        <label for="description">Описание</label>
                        <textarea id="description" name="description">@post.Description</textarea>
                    </div>
                    <button type="submit">Сохранить изменения</button>
                </form>

                <form asp-action="DeletePost" method="post">
                    <input type="hidden" name="id" value="@post.ID" />
                    <button type="submit">Удалить пост</button>
                </form>
            }
        </section>
    }

    @if (User.IsInRole("admin") || User.IsInRole("user"))
    {
        <h2>Создать новый пост</h2>
        <form asp-action="CreatePost" method="post">
            <div>
                <label for="Title">Заголовок</label>
                <input type="text" id="Title" name="Title" />
            </div>
            <div>
                <label for="Description">Описание</label>
                <textarea id="Description" name="Description"></textarea>
            </div>
            <button type="submit">Создать пост</button>
        </form>
    }
</div>
