@model Ctulhu.Models.Posts

<h2>@Model.Title</h2>
<p>@Model.Description</p>
<p><strong>Дата создания:</strong> @Model.CreatedAt.ToString("yyyy-MM-dd HH:mm:ss")</p>
<p><strong>Дата обновления:</strong> @Model.UpdatedAt.ToString("yyyy-MM-dd HH:mm:ss")</p>
<small>Автор: @Model.Author</small>
<p>@Model.Tag</p>
